# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ChromaDB
chroma_storage/

# Uploaded documents
app/data/documents/

# React
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
